@media(max-width: 768.9px){
    .offer{
        display: block;
        width: 1200px;
        padding: 0 15px;
    }
    .offer .container{
        display: flex;
        flex-wrap: wrap;
    }

    .menu,.order,.promotion,.footer,.header,.calculating{
        width: 1200px;
    }
    .menu, .preview, .promotion, .footer{
        padding-left: 15px;
        padding-right: 15px;
    }
}